.background-div {
    background-image: url('https://assets-global.website-files.com/631652c1d3e052ae06f4888b/64897b4aee50c9a803650f11_image.png');
    background-size: cover;
    background-position: center; 
    height: 400px;
    border: 2px solid salmon; 
    width: 100vh;
    left:80%;
    border-radius: 25px; 
    margin: 5%;
    transform: translateX(0%);
}